<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="demoServiceFacade" class="com.joiest.jpf.facade.impl.DemoServiceFacadeImpl"></bean>
	<bean id="ToolCateServiceFacade" class="com.joiest.jpf.facade.impl.ToolCateServiceFacadeImpl"></bean>
	<bean id="CloudIdcardServiceFacade" class="com.joiest.jpf.facade.impl.CloudIdcardServiceFacadeImpl"></bean>
	<bean id="CloudDfMoneyServiceFacade" class="com.joiest.jpf.facade.impl.CloudDfMoneyServiceFacadeImpl"></bean>
	<bean id="CloudCompanyStaffServiceFacade" class="com.joiest.jpf.facade.impl.CloudCompanyStaffServiceFacadeImpl"></bean>
	<bean id="CloudStaffBanksServiceFacade" class="com.joiest.jpf.facade.impl.CloudStaffBanksServiceFacadeImpl"></bean>
	<bean id="RedisCustomServiceFacade" class="com.joiest.jpf.facade.impl.RedisCustomServiceFacadeImpl"></bean>
	<bean id="CloudIdenauthServiceFacade" class="com.joiest.jpf.facade.impl.CloudIdenauthServiceFacadeImpl"></bean>
	<bean id="CloudBankcheckServiceFacade" class="com.joiest.jpf.facade.impl.CloudBankcheckServiceFacadeImpl"></bean>
	<bean id="CloudCompactStaffServiceFacade" class="com.joiest.jpf.facade.impl.CloudCompactStaffInterfaceServiceFacadeImpl"></bean>
	<bean id="CloudDfTaskInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.CloudDfTaskInterfaceServiceFacadeImpl"></bean>
	<bean id="CloudDfOrderInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.CloudDfOrderInterfaceServiceFacadeImpl"></bean>

	<bean id="CloudCompanyBankServiceFacade" class="com.joiest.jpf.facade.impl.CloudCompanyBankServiceFacadeImpl"></bean>
	<bean id="CloudCompanyServiceFacade" class="com.joiest.jpf.facade.impl.CloudCompanyServiceFacadeImpl"></bean>
	<bean id="CloudEmployeeServiceFacade" class="com.joiest.jpf.facade.impl.CloudEmployeeServiceFacadeImpl"></bean>
</beans>