<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ShopBatchCouponInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopBatchCouponInterfaceServiceFacadeImpl"></bean>
	<bean id="ShopProductInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopProductInterfaceServiceFacadeImpl"></bean>
	<bean id="ShopOrderInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopOrderInterfaceServiceFacadeImpl"></bean>
	<bean id="ShopCouponActiveInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopCouponActiveInterfaceServiceFacadeImpl"></bean>
	<bean id="RedisCustomServiceFacade" class="com.joiest.jpf.facade.impl.RedisCustomServiceFacadeImpl"></bean>
	<bean id="ShopCustomerInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopCustomerInterfaceServiceFacadeImpl"></bean>
	<bean id="ShopBrandServiceFacade" class="com.joiest.jpf.facade.impl.ShopBrandServiceFacadeImpl"></bean>
	<bean id="ShopCouponRemainServiceFacade" class="com.joiest.jpf.facade.impl.ShopCouponRemainServiceFacadeImpl"></bean>
	<bean id="ShopInterfaceStreamServiceFacade" class="com.joiest.jpf.facade.impl.ShopInterfaceStreamServiceFacadeImpl"></bean>

	<!--<bean id="demoServiceFacade" class="com.joiest.jpf.facade.impl.DemoServiceFacadeImpl"></bean>-->
	<bean id="ShopOrderInfoInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopOrderInfoInterfaceServiceFacadeImpl"></bean>
	<bean id="WeixinUserServiceFacade" class="com.joiest.jpf.facade.impl.WeixinUserServiceFacadeImpl"></bean>
	<bean id="ShopAdInterfaceServiceFacade" class="com.joiest.jpf.facade.impl.ShopAdInterfaceServiceFacadeImpl"></bean>
	<bean id="ShopStockCardServiceFacade" class="com.joiest.jpf.facade.impl.ShopStockCardServiceFacadeImpl"></bean>
	<bean id="ShopProductServiceFacade" class="com.joiest.jpf.facade.impl.ShopProductServiceFacadeImpl"></bean>
	<bean id="BankCardServiceFacade" class="com.joiest.jpf.facade.impl.BankCardServiceFacadeImpl"></bean>
	<bean id="ShopBargainRequestServiceFacade" class="com.joiest.jpf.facade.impl.ShopBargainRequestServiceFacadeImpl"></bean>
	<bean id="ShopBargainOrderServiceFacade" class="com.joiest.jpf.facade.impl.ShopBargainOrderServiceFacadeImpl"></bean>
	<bean id="ShopCustomerServiceFacade" class="com.joiest.jpf.facade.impl.ShopCustomerServiceFacadeImpl"></bean>
	<bean id="ShopCouponActiveServiceFacade" class="com.joiest.jpf.facade.impl.ShopCouponActiveServiceFacadeImpl"></bean>
	<bean id="ChargeOrderServiceFacade" class="com.joiest.jpf.facade.impl.ChargeOrderServiceFacadeImpl"></bean>
	<bean id="ChargeInterfaceStreamFacade" class="com.joiest.jpf.facade.impl.ChargeInterfaceStreamFacadeImpl"></bean>
	<bean id="ChargeProductServiceFacade" class="com.joiest.jpf.facade.impl.ChargeProductServiceFacadeImpl"></bean>
	<bean id="ChargeCompanyServiceFacade" class="com.joiest.jpf.facade.impl.ChargeCompanyServiceFacadeImpl"></bean>
	<bean id="ShopProductInfoServicefacade" class="com.joiest.jpf.facade.impl.ShopProductInfoServicefacadeImpl"></bean>

</beans>