<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
                           http://www.springframework.org/schema/beans/spring-beans.xsd  
                           http://www.springframework.org/schema/context   
                           http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byType">

    <!-- 引入定时任务的具体任务类 -->
    <bean id="timerTaskUtils" class="com.joiest.jpf.market.api.util.TimerTaskUtils"/>
    
    <!-- 读取config.properties配置文件 -->
    <context:property-placeholder location="classpath:config/config.properties"/>
    
    <bean id="importantOneJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="timerTaskUtils"/>
        <property name="targetMethod" value="run"/>
        <property name="concurrent" value="false"/>
        <property name="arguments">
            <list></list>
        </property>
    </bean>
    
    <!-- 配置定时调度的触发器 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="importantOneJob" />
        <property name="cronExpression" value="${cronExpressionValue}" />
    </bean>
    
    <!-- 配置定时任务的调度工厂(中心调度器),可在list中配置多个定时任务 -->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
            </list>
        </property>
        <property name="autoStartup" value="${timeScheduleSwitch}"/>
    </bean>
</beans>